@charset 'utf-8';

$cor_site: #2563ab;
$cor_site2: #26C7FE; 

body, html {
    height: 100%;
}

body {
    color: #686868;
    // font-family: 'Open Sans', sans-serif;
}

* { 
    outline: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
.display-1, .display-2, .display-3, .display-4 {
    font-family: 'Open Sans', sans-serif;
}

.btn-cor {
    background-color: $cor_site;
    color: #fff;
    transition: all 250ms;
    &:hover {
        background-color: darken($cor_site, 10%);
    }
}

.texto-cor {
    color: $cor_site;
}

.texto-cor2 {
    color: $cor_site2;
}

.background-cor {
    background-color: $cor_site;
}

.background-cor2 {
    background-color: $cor_site2;
}

.titulo {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        bottom: -13px;
        left: -15px;
        width: 50px;
        height: 2px;
        background: $cor_site2;
    }
    span {
        display: block;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.banner-height-100 {
    min-height: 100%;
}

.banner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    .fotos {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 400px;
}

.endereco {
    border-bottom: 1px dotted #fff;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 250ms;
        color: #ccc;
        &:hover {
            background-color: rgba(0, 0, 0, .15);
            color: #fff;
        }
    }
    @media screen and (max-width: 767px){
        position: fixed;
        z-index: 999;
        right: -100%;
        top: 0;
        margin: auto;
        background-color: darken($cor_site, 10%);
        padding: 10px;
        width: 40%;
        min-width: 250px;
        height: 100%;
        overflow: auto;
        text-align: center;
    }
    a.btn {
        color: #fff !important;
        &:hover {
            background-color: $cor_site2;
        }
    }
}

.menu-responsivo {
    cursor: pointer;
    padding: 10px;
    outline: none;
    border: none;
    transition: all 300ms;
    &:hover {
        //background-color: $cor_site;
    }
    &-fundo {
        display: none;
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }
}

.utilitarios {
    margin: 5px;
    display: block;
    height: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    transition: all 250ms;
    i {
        transition: all 250ms;
        opacity: .3;
    }
    &:hover {
        border-color: #ddd;
        color: #333;
        i {   
            opacity: .6;
        }
    }
}

.ebook {
    position: relative;
    background-size: cover;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
    }
    &-descricao {
        p {
            font-size: 20px;
        }
    }
    &-form{
        background: rgba(#000, .5);
    }
}

.links_importantes {
    @media screen and (min-width: 768px) {
        columns: 2;
    }
    li {
        margin-bottom: 8px;
    }
    a {
        transition: all 250ms;
        &:hover {
            color: #000;
        }
    }
}

.redes_sociais {
    a {
        display: inline-block;
        background-color: #fff;
        padding: 10px;
        border: 2px solid #e2e2e2;
        transition: all 250ms;
        &:hover {
            color: #fff;
        }
        &.facebook:hover {
            background-color: #3c5a99;
        }
        &.twitter:hover {
            background-color: #55acef;
        }
        &.instagram:hover {
            background: linear-gradient(to bottom, #8444BE, #D63083, #FECF6D);
        }
        &.linkedin:hover {
            background-color: #006699;
        }
    }
}

.rodape {
    background-color: #e9e9e9;
}

.copyright {
    background-color: #e9e9e9;
    border-top: 3px solid #d9d9d9;
}

.mapa iframe {
    width: 100% !important;
    height: 230px !important;
}

.paginacao {
    a {
        background: #e9e9e9;
        padding: 5px 10px;
        color: #303030;
        transition: all 300ms;
    }
    a:hover, .atual {
        background: $cor_site;
        padding: 5px 10px;
        color: #fff !important;        
    }
}

.divisoria {
    border-bottom: 1px dotted #ccc;
}

.conteudo {
    a:not(.btn) {
        &:hover {
            color: $cor_site;
        }
    }
}

@keyframes anima_janela { from { top: -300px; opacity: 0;} to { top: 0; opacity: 1;} }
.modal, .modal-search {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient( 45deg, rgba($cor_site, .9), rgba($cor_site, .8));
    z-index: 99999999;
    top: 0;
    left: 0;
    &-janela {
        overflow: auto;
        width: 90%;
        max-height: 80%;
        position: relative;
        z-index: 998;
        padding: 15px;
        border-radius: 5px;
        margin-top: 30px;
        animation: anima_janela 1s;
        &-texto {
            table {
                width: 100% !important;
            }
        }
    }
    &-close {
        position: absolute;
        z-index: 999;
        top: 20px;
        right: 20px;
    }
}

table {
    border-collapse: collapse;
    td {
        border: 1px solid #ccc;
        padding: 5px;
    }
}

.btn {
    &-facebook {
        background-color: #4064AD;
        border-color: darken(#4064AD, 10);
        color: white;
    }
    &-twitter {
        background-color: #1DA1F2;
        border-color: darken(#1DA1F2, 10);
        color: white;
    }
    &-linkedin {
        background-color: #0271AE;
        border-color: darken(#0271AE, 10);
        color: white;
    }
}